name: realtodo
description: A new Flutter project.
publish_to: "none"
version: 0.1.0

environment:
  sdk: ">=3.0.3 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_dotenv: ^5.1.0
  stacked: ^3.4.0
  stacked_services: ^1.1.0
  shared_preferences: ^2.0.15
  supabase_flutter: ^2.0.0

dev_dependencies:
  build_runner: ^2.4.5
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  mockito: ^5.4.1
  stacked_generator: ^1.3.3
  golden_toolkit: ^0.15.0
  flutter_launcher_icons: ^0.13.0

flutter:
  uses-material-design: true

  assets:
    - .env
    - assets/icons/to-do.png

flutter_launcher_icons:
  android: "launcher_icon_new"
  ios: true
  image_path: "./assets/icons/to-do.png"
  min_sdk_android: 21
